.carousel_div {
  padding: 18px 23px;
  background: white;
}

.width_100 {
  width: 100%;
}

.justy_center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.height-180px {
  height: 180px;
}
.height-130px {
  height: 130px;
}