<div class="card card-custom gutter-b">
  <ng-container *ngIf="isLoading$ | async">
    <div class="progress h-5px rounded-0">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
        style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </ng-container>

  <div class="card-body">
    <ng-container>
      <div class="mt-5" *ngIf="role">
        <form action="#" class="form form-label-right" [formGroup]="formGroup" (ngSubmit)="save()">
          <div class="form-group row">
            <div class="col-lg-6">
              <label>{{ 'Description' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="description" [class.is-invalid]="isControlInvalid('description')"
                [class.is-valid]="isControlValid('description')" formControlName="description" />
              <div class="valid-feedback" *ngIf="isControlValid('description')">Description was entered correct</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'description')">Description is required</div>
            </div>
          </div>
          <div class="pb-10">
            <div class="table-responsive" style="overflow: visible;">
                <table class="table table-head-custom table-vertical-center" >
                    <thead>
                        <tr class="text-left">
                            <th>{{'Permission name' | translate}}</th>
                            <th>Country</th>
                            <th>Typology</th>
                            <th>Allowed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of role.permissions">
                            <td class="pr-0 cursor-pointer">
                              <div class="">
                                <ae-select
                                  [options]="permissions" [defaultUI]="true" (change)="onSelectPermission(item, $event)" [value]="item.permission"></ae-select>
                              </div>
                            </td>
                            <td>
                              <div class="form-control p-0 d-flex align-items-center" style="width: inherit;">
                                <ng-multiselect-dropdown
                                  style="width: 100%;"
                                  [(ngModel)]="item.country"
                                  [ngModelOptions]="{standalone: true}"
                                  [settings]="multiSelectSettings"
                                  [data]="countries"
                                  [placeholder]="'Select countries'"
                                >
                                </ng-multiselect-dropdown>
                              </div>
                            </td>
                            <td>
                              <div class="form-control p-0 d-flex align-items-center" style="width: inherit;">
                                <ng-multiselect-dropdown
                                  style="width: 100%;"
                                  [(ngModel)]="item.typology"
                                  [ngModelOptions]="{standalone: true}"
                                  [settings]="multiSelectSettings"
                                  [data]="typologies"
                                  [placeholder]="'Select typologies'"
                                >
                                </ng-multiselect-dropdown>
                              </div>
                            </td>
                            <td>
                              <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" [(ngModel)]="item.readable" [ngModelOptions]="{standalone: true}">
                                <label class="form-check-label">READ</label>
                              </div>
                              <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" [(ngModel)]="item.writable" [ngModelOptions]="{standalone: true}">
                                <label class="form-check-label">WRITE</label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" [(ngModel)]="item.downloadable" [ngModelOptions]="{standalone: true}">
                                <label class="form-check-label">DOWNLOAD</label>
                              </div>
                            </td>
                        </tr>
                        <tr>
                          <td class="pr-0 cursor-pointer">
                            <div class="btn btn-icon btn-secondary rounded-pill" (click)="onClickAddPermission()"><i class="fs-2 la la-plus"></i></div>
                          </td>
                          <td></td>
                          <td></td>
                          <td></td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
          <div class="float-end">
            <a class="btn btn-default fw-bold me-2" routerLink="/admin/user-management/roles">Cancel</a>
            <button type="submit" class="btn btn-primary fw-bold me-2"
              [disabled]="formGroup.invalid">Save</button>
          </div>
        </form>
      </div>
    </ng-container>
  </div>
</div>