<div class="card card-custom overlay" [ngClass]="{'overlay-block': loading$ | async}">
	<ng-container *ngIf="loading$ | async">
		<div class="overlay-layer bg-transparent" style="z-index: 1;">
		  <div class="spinner spinner-center spinner-primary"></div>
		</div>
	</ng-container>
  
	<div class="card-header align-items-end">
		<ul class="nav nav-dark nav-bold nav-tabs nav-tabs-line" style="margin-bottom: -1px;" role="tablist">
			<li class="nav-item" *ngFor="let item of tabs">
				<a
				  (click)="onClickTab(item)"
				  class="nav-link cursor-pointer"
				  [ngClass]="{'active': item==activeTab }"
				  [hidden]="item.count==0"
				  role="tab"
				>
				{{item.title}}
				<span *ngIf="item.count && item.state === 'duplicate'" class="badge badge-warning label-inline fw-boldest" >{{item.count}}</span>
				<span *ngIf="item.count && item.state !== 'duplicate'" class="badge badge-light fw-boldest" >{{item.count}}</span>
				</a>
			</li>
		</ul>
		<div class="d-flex align-items-center mb-1">
			<ae-select
				[options]="languages" #languageSelector></ae-select>
		</div>
	</div>
	<div class="card-body">
		<div>
			<lp-table
				[hidden]="isEmptyTable"
				[hasPadding]="false"
				[showSelectAllCheckbox]="true"
				[suppressRowClickSelection]="true"
				[extraActions]="extraActions"
				[columnDefs]="columnDefs"
				[showDeleteColumn]="true"
				(action)="onAction($event)"
				(paginationChanged)="onPaginationChanged($event)"
				#tableCtrl
			></lp-table>
		</div>
		<div class="d-flex justify-content-center align-items-center h-200px" *ngIf="isEmptyTable">{{'GENERAL.NO_RECORD_FOUND' | translate}}</div>
	</div>
</div>
