#splash-screen {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

#splash-screen.hidden {
  opacity: 0;
  visibility: hidden;
}

.splash-spinner {
  animation: rotate 2s linear infinite;
  width: 50px;
  height: 50px;
}

.splash-spinner .path {
  stroke: #003F87;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

.sp_div {
  box-shadow: 0 0 16px 0 rgb(33 33 33 / 7%);
  z-index: 10001;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
