@import "../../../../../assets/sass/init";

:host {
  th {
    font-weight: bold;
    text-transform: uppercase;
  }
  td .logo {
    margin-right: 10px;
    opacity: 1;
    transition: opacity 100ms ease-in 0s;
    max-width: 200px;
    height: 40px;
    -o-object-fit: cover;
    object-fit: cover;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
  }
  #typology_selector {
    .wrap {
      position: relative;
      div {
        z-index: 1;
      }
      &:hover:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #0000000f;
        border-radius: 4px;
        margin: -0.5rem;
        z-index: 0;
      }
      &.active:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #0000000f;
        border-radius: 4px;
        margin: -0.5rem;
        z-index: 0;
      }
      &:not(.active) > div:nth-child(2) {
        display: none !important;
      }
    }
    .staging {
      &:hover {
        &:after {
          background: #ffd33f6e !important;
        }
        > div:nth-child(2) {
          display: flex !important;
        }
        > div:nth-child(1) {
          display: none !important;
        }
      }
      > div:nth-child(2) {
        display: none !important;
      }
    }
  }
}
