<!--begin::Signup-->
<div class="login-form login-signup overlay" #container>
  <ng-container *ngIf="isLoading$ | async">
		<div class="overlay-layer bg-transparent" style="z-index: 1;">
		<div class="spinner-border spinner-border-lg align-middle"></div>
		</div>
	</ng-container>
  <!--begin::Form-->
  <form
    class="form"
    novalidate="novalidate"
    id="kt_login_signup_form"
    [formGroup]="resetPasswordForm"
    (ngSubmit)="submit()"
  >
    <!--begin::Title-->
    <div class="pt-lg-0 pt-5">
      <div class="kt-login__title">
        <div class="welcome">{{'AUTH.GENERAL.WELCOME' | translate}}</div>
      </div>
    </div>
    <!--end::Title-->

    <!-- begin::Alert error-->
    <ng-container *ngIf="hasError">
      <div
        class="mb-10 alert alert-custom alert-light-danger alert-dismissible"
      >
        <div class="alert-text">{{ 'Reset password failed' | translate}}</div>
      </div>
    </ng-container>
    <!-- end::Alert error-->

    <div class="mb-5">
      <label class="fs-5 fw-bolder text-dark pt-5"
        >{{'AUTH.INPUT.PASSWORD' | translate}}</label
      >
      <div class="position-relative">
        <input
          #passwordInput
          class="form-control form-control-solid h-auto py-7 px-6 rounded-lg fs-5"
          type="password"
          placeholder="Password"
          name="password"
          formControlName="password"
          autocomplete="off"
          [ngClass]="{
            'is-invalid': resetPasswordForm.controls['password'].invalid
          }"
          (keyup)="onChangePasswordInput($event)" (blur)="onChangePasswordInput($event)"
          [ngbTooltip]="passwordSuggesting" [placement]="this.containerEl.nativeElement.offsetWidth > 500 ? 'left' : 'top'" [autoClose]="false" triggers="focus"
        />
        <div (click)="onClickShowPassowrd()"
          class="toggle-password position-absolute cursor-pointer"
          [ngClass]="{'show-password': passwordInput.type === 'text', 'is-invalid': resetPasswordForm.controls['password'].invalid}">
        </div>
      </div>
    </div>
    <!--end::Form group-->

    <!--begin::Form group-->
    <div class="mb-5">
      <label class="fs-5 fw-bolder text-dark pt-5"
        >{{'AUTH.INPUT.CONFIRM_PASSWORD' | translate}}</label
      >
      <input
        #confirmPasswordInput
        class="form-control form-control-solid h-auto py-7 px-6 rounded-lg fs-5"
        type="password"
        name="cPassword"
        autocomplete="off"
        formControlName="cPassword"
        [ngClass]="{
          'is-invalid': resetPasswordForm.controls['cPassword'].invalid
        }"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'AUTH.VALIDATION.CONFIRM_PASSWORD_REQUIRED' | translate,
          control: resetPasswordForm.controls['cPassword']
        }"
      ></ng-container>
      <ng-container
        *ngIf="
          resetPasswordForm.controls['cPassword'].errors &&
          resetPasswordForm.controls['cPassword'].errors.ConfirmPassword
        "
      >
        <div class="fv-plugins-message-container">
          <div class="fv-help-block">
            {{'AUTH.VALIDATION.PASSWORD_NOT_CORRESPOND' | translate}}
          </div>
        </div>
      </ng-container>
    </div>
    <!--end::Form group-->

    <!--begin::Form group-->
    <div class="mb-5 d-flex flex-wrap pb-lg-0 pb-3 justify-content-between">
      <button
        routerLink="/auth/login"
        type="button"
        class="btn btn-light-primary fw-bolder fs-5 px-8 py-6 my-3"
      >
      {{ 'AUTH.GENERAL.BACK_BUTTON' | translate }}
      </button>
      <button
        type="submit"
        id="kt_login_signup_submit"
        [disabled]="
          resetPasswordForm.invalid
        "
        class="btn btn-warning fw-bolder fs-5 px-8 py-6 my-3"
      >
      {{ 'AUTH.RESET_PASSWORD.BUTTON' | translate }}
      </button>
    </div>
    <!--end::Form group-->
  </form>
  <!--end::Form-->
</div>
<!--end::Signup-->

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>
<ng-template class="mb-7 ps-3 text-start"  #passwordSuggesting>

  <div class="text-start">{{ ('AUTH.PASSWORD_STRENGTH.OVERVIEW') | translate }}</div>
  <div class="ps-3 text-start">
    <div><i class="fa" [ngClass]="{'fa-check-circle': passwordStrength.len, 'fa-minus-circle' : !passwordStrength.len, 'text-success': passwordStrength.len, 'text-danger': !passwordStrength.len}"></i><span class="ms-3">{{ ('AUTH.PASSWORD_STRENGTH.LENGTH') | translate }}</span></div>
    <div><i class="fa" [ngClass]="{'fa-check-circle': passwordStrength.maxLen, 'fa-minus-circle' : !passwordStrength.maxLen, 'text-success': passwordStrength.maxLen, 'text-danger': !passwordStrength.maxLen}"></i><span class="ms-3">{{ ('AUTH.PASSWORD_STRENGTH.MAX_LENGTH') | translate }}</span></div>
    <div><i class="fa" [ngClass]="{'fa-check-circle': passwordStrength.capital, 'fa-minus-circle' : !passwordStrength.capital, 'text-success': passwordStrength.capital, 'text-danger': !passwordStrength.capital}"></i><span class="ms-3">{{ ('AUTH.PASSWORD_STRENGTH.UPPERCASE') | translate }}</span></div>
    <div><i class="fa" [ngClass]="{'fa-check-circle': passwordStrength.lower, 'fa-minus-circle' : !passwordStrength.lower, 'text-success': passwordStrength.lower, 'text-danger': !passwordStrength.lower}"></i><span class="ms-3">{{ ('AUTH.PASSWORD_STRENGTH.LOWERCASE') | translate }}</span></div>
    <div>
      <i class="fa" [ngClass]="{'fa-check-circle': passwordStrength.special, 'fa-minus-circle' : !passwordStrength.special, 'text-success': passwordStrength.special, 'text-danger': !passwordStrength.special}"></i>
      <span class="ms-3">{{ ('AUTH.PASSWORD_STRENGTH.SPECIAL') | translate }}</span>
      <div [ngbTooltip]="'AUTH.PASSWORD_STRENGTH.SPECIAL_TOOLTIP'| translate" class="ps-2" style="display: inline; "><i class="fa fa-info" style="color: #3f709d"></i></div>
    </div>
    <div><i class="fa" [ngClass]="{'fa-check-circle': passwordStrength.number, 'fa-minus-circle' : !passwordStrength.number, 'text-success': passwordStrength.number, 'text-danger': !passwordStrength.number}"></i><span class="ms-3">{{ ('AUTH.PASSWORD_STRENGTH.NUMBER') | translate }}</span></div>
  </div>

  <div class="text-start">{{ ('AUTH.PASSWORD_STRENGTH.EXAMPLE') | translate }}</div>
</ng-template>
