<div *ngFor="let menu of menuList" class="menu-item menu-accordion" data-kt-menu-trigger="click"
  [ngClass]="calculateMenuItemCssClass(menu.link)">

  <span class="menu-link" [ngClass]="calculateMenuItemCssClass(menu.link)">
    <span class="menu-icon">
      <span class="svg-icon svg-icon-2" [inlineSVG]="menu.svg"></span>
    </span>
    <span class="menu-title">{{ menu.label | translate }}</span>
    <span class="menu-arrow"></span>
  </span>


  <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">

    <ng-container *ngFor="let smenu of menu.submenu">

      <div *ngIf="!(smenu.submenu && smenu.submenu.length)" class="menu-item menu-accordion">
        <a class="menu-link without-sub" [routerLink]="smenu.link" routerLinkActive="active">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">{{smenu.label | translate}}</span>
        </a>
      </div>

      <div *ngIf="smenu.submenu && smenu.submenu.length" class="menu-item menu-accordion" data-kt-menu-trigger="click"
        [ngClass]="calculateMenuItemCssClass(smenu.link)">

        <span class="menu-link" [ngClass]="calculateMenuItemCssClass(menu.link)">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title" data-link="/crafted/pages/profile">{{smenu.label | translate}}</span>
          <span class="menu-arrow"></span>
        </span>

        <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
          <div class="menu-item" *ngFor="let ssmenu of smenu.submenu">
            <a class="menu-link without-sub" routerLinkActive="active" [routerLink]="ssmenu.link">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">{{ssmenu.label | translate}}</span>
            </a>
          </div>
        </div>

      </div>

    </ng-container>

  </div>
</div>